extends layout

block content
  div
    h1= title
    p Welcome to #{title}
      div
        a(href='/new'): button.compose= "Submit a message!"
    each val in messages 
      div 
        h2= val.user 
        h3= val.text
        p= val.details 
        span= val.date         
